html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 90%;
    background: #FFFFFF url("bg_fade.gif") top left repeat-x;
    padding: 0;
    margin: 0;
}

a {
    color: #3333AA;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}

.wrapper {
    border-right: 1px solid #E2ECEC;
    border-left: 1px solid #E2ECEC;
    margin: 0 auto;
	max-width: 88%;
	min-width: 930px;
}

.header {
    background: #4E6A90;
    padding: 10px;
    border-bottom: 1px solid #7A8FAC;
}

.header h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 140%;
    color: #FFFFFF;
    padding: 0;
    margin: 0 130px 0 0;
}

.navheader {
    display: block;
    background: #D5E5E4;
    color: #1E3565;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    border-top: 1px solid #F5F9F8;
    border-bottom: 2px solid #93B5B6;
}

.navheader-left {
    float: left;
    text-align: left;
    padding: 3px 10px;
}

.navheader-right {
    float: right;
    text-align: right;
    padding: 3px 10px;
}

.navfooter {
    display: block;
    background: #D5E5E4;
    color: #1E3565;
    font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

.navfooter-left {
    float: left;
    text-align: left;
    padding: 3px 10px;
}

.navfooter-right {
    float: right;
    text-align: right;
    padding: 3px 10px;
}

.content {
    background: #FFFFFF;
    padding: 10px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 130%;
    color: #227788;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0.7em 0
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #227788; }

h1 { font-size: 130%; }
h2 { font-size: 125%; }
h3 { font-size: 120%; margin-top: .5em; }
h4 { font-size: 115%; }
h5 { font-size: 110%; }
h6 { font-size: 105%; }

table {
	border: 1px solid black;
	border-collapse: collapse;
}

td,th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: .1em .3em;
}

.unem {
	font-size: 80%;
	color: #404040;
}

label.leftlabel {
	float: left;
    min-width: 7em;
    font-weight: bold;
}

.feedbackPanelERROR {
    color: #AA0000;
 }
 
.deleteLink {
	text-decoration:none;
	color: #AA0000;
}
 
/*================================================================*/
/* User Edit Form                                                 */
/*================================================================*/

.addSeparator {
	border-left: 1px solid black;
	padding-left: 3px;
	margin-left: 4px;
}
.formRow {
    margin: 0.3em 0px 0.3em 0px;
}
.formRow:after {
    content: ".";
    height: 0px;
    font-size: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

*:first-child+html .formRow { height: 100%; } /* IE7 */
* html .formRow { height: 1%; }               /* IE6 */

.formRow label {
    float: left;
    display: block;
    width: 150px;
    text-align: right;
    font-weight: Bold;
    padding: 0.2em 0px 0px 0px;
}

.formRow .checkboxes {
	float:left;
	padding: 0.2em 0 0 15px;
	text-align:left;
}
.formRow .checkboxes label {
	font-weight:normal;
	padding:0;
	width:auto;
}

.formRow .inputItem {
    display: block;
    margin-left: 165px;
}
.formRow .inputItem input {
    vertical-align: middle;
}

/*================================================================*/
/* Event Log Filters                                              */
/*================================================================*/

form {
	display: inline;
}

.filter fieldset {
	float: left;
	margin: 1%; 
	border: 1px solid black; 
	padding: 3px 14px 14px 14px;
}

.filter legend {
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120%;
    color: #227788;
    font-weight: bold;
}

p.selectline {
	margin-top: 0px;
}

div.scrollable {
	overflow: auto; 
	max-height: 200px;
	border: 1px solid #227788; 
	padding: 6px; 
}

div.scrollable:hover {
   background: #EFEFEF;
   max-height: 450px;
}

label.aligned {
	float: left;
	min-width: 3em;
	margin-left: 5px;
}

/*================================================================*/
/* Data Tables                                                    */
/*================================================================*/

.dataTable {
    width: 98%;
    border-collapse: collapse;
    margin: 1% 0px 1em 1%;
    font-family: Helvetica, Arial, sans-serif;
    border-top: #828E3F 2px dotted;
    background-color:#EFEFEF;
}

.dataTable thead tr {
    background: #B0C1CC;
}

.dataTable th {
    background: #B0C1CC;
    font-weight: bold;
    color: #000000;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    padding: .5em .75em .5em 1.0em;
    margin: 0px;
}

.dataTable th.wicket_orderUp {
    background: #B0C1CC url("sort_asc.png") left no-repeat;
}

.dataTable th.wicket_orderDown {
    background: #B0C1CC url("sort_desc.png") left no-repeat;
}

.dataTable th a {
    color: #000000;
}

.dataTable tr {
    border-top: #FFFFFF 3px solid;
}

.dataTable td {
    font-weight: normal;
    color: #000000;
    text-align: left;
    vertical-align: top;
    padding: .5em .75em .5em .75em;
    margin: 0px;
}

.dataTable .mergeColLeft {
    border-right: 0;
}
.dataTable .mergeColRight {
    border-left: 0;
    white-space: nowrap;
    text-align: right;
}


