/* Blocking Modal Overlay */

#visuraloverlay,.visuraloverlay,#visuraloverlay_high,.visuraloverlay_high {
	filter:Alpha(Opacity=40);
	-moz-opacity:.4;
	opacity:.4;
	background-color:#444;
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	text-align:center;
	z-index:5000;
}

#visuraloverlay_high,.visuraloverlay_high {
	z-index:6000;
}

#visuraloverlaycontent,#visuraloverlaycontent_high {
	display:none;
	z-index:5500;
	text-align:center;
}

.visuraloverlaycontent,.visuraloverlaycontent_high {
	display:none;
	z-index:5500;
	text-align:left;
}

#visuraloverlaycontent_high,.visuraloverlaycontent_high {
	z-index:6500;
}

#visuraloverlaycontent .modalborder,#visuraloverlaycontent_high .modalborder {
	padding:15px;
	width:300px;
	border:1px solid #444;
	background-color:white;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
	box-shadow:0 0 10px rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color='gray');
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color='gray')";	
}
