/*================================================================*/
/* Buttons */

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	/* vertical-align: baseline; */
	vertical-align: top;
	margin: 0px;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.1em;
	letter-spacing: 0.07em;
	padding: 3px 7px 3px 7px;
}
input.button::-moz-focus-inner,
button.button::-moz-focus-inner  {
    border: 0 none !important;
    padding: 0;
    margin: 0;
}

html>/**/body input.button, x:-moz-any-link, x:default { /* FF 3 */
    padding: 2px 7px 2px 7px;
}

.button:hover,
.button:focus {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.standard {
    color: #000000 !important;
    background: #D9CCBC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#D9CCBC));
    background: -moz-linear-gradient(#FEFEFE, #D9CCBC);
    background: linear-gradient(#FEFEFE, #D9CCBC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#D9CCBC');
	border: solid 1px #9B8E7F;
}
.standard:hover, 
.standard:focus {
    color: #000000 !important;
    background: #A6998B;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F2F0), to(#A6998B));
    background: -moz-linear-gradient(#F4F2F0, #A6998B);
    background: linear-gradient(#F4F2F0, #A6998B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F2F0', endColorstr='#A6998B');
}
.standard:active {
}

.disabled {
    color: #CCCCCC !important;
    background: #D9CCBC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#D9CCBC));
    background: -moz-linear-gradient(#FEFEFE, #D9CCBC);
    background: linear-gradient(#FEFEFE, #D9CCBC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#D9CCBC');
	border: solid 1px #9B8E7F;
	cursor: default;
}
.disabled:hover, 
.disabled:focus {
    color: #CCCCCC !important;
}

.disabled:active {
    top: 0px;
}
