<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="modal-dialog">
        <div class="modal-content">
            <div wicket:id="header" class="modal-header"></div>
            <div class="modal-body">
                <p wicket:id="message"></p>
            </div>
            <div class="modal-footer">
                <button wicket:id="cancel" class="btn btn-default" data-cfw-dismiss="modal">Cancel</button>
                <button wicket:id="confirm" class="btn btn-primary">Yes, delete</button>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
