/*================================================================ */
/* Star Ratings */

.starPanel {
	display:inline;
}

.stars {
    width: 70px;
    display: inline;
    vertical-align: middle;
    padding: 5px 10px 0px 0px;
}

.starsForm {
    display: inline;
}

.stars .starsDiv {
    display: inline;
}

.stars .starsDiv a {
  background: transparent url("./star_rating.png") 0 0 no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px;
  text-indent: -999em;
  overflow: hidden;
}

* html .stars .starsDiv a {
    text-indent: 0;
    background: transparent url("./star_rating.gif") 0 0 no-repeat;
}
* html .stars .starsDiv a span {
    display: none;
}

.stars a.rating {
  background-position: 0 -28px;
}

.stars a.rating-off {
  background-position: 0 -0px;
}

.stars a.rating-over {
  background-position: 0 -14px;
}

.stars a.disabled {
	cursor:default;
}
