<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html
	xmlns:wicket="http://svn.apache.org/repos/asf/wicket/trunk/wicket/wicket-xhtml1-strict.dtd">
<head>
</head>
<body>

<wicket:panel>
	<form wicket:id="selectForm"> 	 
		<div wicket:id="feedback"></div>
			<label for="class">Select Class:</label>
			<br />
			<select wicket:id="periodChoice" id="class">
				<option>Option 1</option>
			</select>
			<input wicket:id="view" type="submit" value="View" class="button save" />
	</form>
</wicket:panel>

</body>
</html>