<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <div class="modal-dialog">
        <div class="modal-content">
            <div wicket:id="header" class="modal-header"></div>
            <div class="modal-body">
                <wicket:message key="timeoutBody"/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-cfw-dismiss="modal" type="button" aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>