<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org">
<head>

</head>
<body>
<wicket:panel>
	<div wicket:id="controls">
		<a href="#" wicket:id="HTML" class="button standard">Write</a>
		<a href="#" wicket:id="AUDIO" class="button standard">Record</a>
		<a href="#" wicket:id="SVG" class="button standard">Draw</a>
		<a href="#" wicket:id="UPLOAD" class="button standard">Upload</a>
	</div>
	<div wicket:id="newResponse" class="responseEditor"></div>
	<div wicket:id="responseListContainer">
		<div wicket:id="responseList">
			<div class="responseItem">
				<div wicket:id="existingResponse" />
				<div wicket:id="author" />
				<div class="timestamp">
				<wicket:enclosure child="timestamp"> 
					Last Saved: <span wicket:id="timestamp" />
				</wicket:enclosure>
				</div>
				<a href="#" wicket:id="edit" class="button standard">Edit</a>
			</div>
		</div>
	</div>
</wicket:panel>
</body>
</html>