/*================================================================*/
/* Modal Body */

.modalBody {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #000000;
    background: #FFFFFF;
    padding: 0px;
    margin: 0px auto;
    width: 650px;
	height: 500px;
    overflow: hidden;
	display: block;
}

.modalBody img {
    border: 0;
}

.modalBody form {
    padding: 0px;
    margin: 0px;
}

.modalBody p {
    padding: 0px;
    margin: 0px 0px 1em 0px;
}

.modalBody a { color: #000000; }
.modalBody a:hover, .modalBody a:focus { color: #FF0000; }
.modalBody a.anchor { color: inherit; }

/*================================================================*/
/* Header */

.modalHeader {
    position: relative;
    background: #002C77;
    height: 40px;
}
.modalHeader:after {
    content: ".";
    height: 0px;
    font-size: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.modalTitle {
    position: absolute;
    top: 7px;
    left: 15px;
    padding: 0px;
    margin: 3px 0px 0px 0px;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 15px;
}


/*================================================================*/
/* Columns */

.modalMaincol {
    background: #FFFFFF;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: auto;
}

.modalTall {
    height: 400px;
}

/*================================================================*/
/* Main Content Column */

.modalContent {
    font-size: 0.9em;
    padding: 10px 15px;
}

.modalContent h1 {
    font-size: 1.4em;
    color: #000000;
    padding: 0px;
    margin: 0px 0px 0.2em 0px;
}

.modalContent h2 {
    font-size: 1.2em;
    color: #4E4E4E;
    font-weight: normal;
    padding: 0px;
    margin: 0px 0px 0.5em 0px;
}

.modalContent h3 {
    font-size: 1.1em;
    color: #000000;
    padding: 1px;
    margin: 0px 0px 0.5em 0px;
}

/*================================================================*/
/* Modal Types */



/* Warning */
.modalContent .warning {
    background: #FFFF66;
    padding: 10px;
    margin: 0px 0px 1em 0px;
	padding: 10px 10px 10px 75px ;
    background: #FFFF66 url("warn.png") 10px 10px  no-repeat;
    min-height: 35px;
    * height: 35px;
}

/*================================================================*/
/* Buttons */

.modalContent .button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	/* vertical-align: baseline; */
	vertical-align: top;
	margin: 0px;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.1em;
	letter-spacing: 0.07em;
	padding: 3px 7px 3px 7px;
}
.modalContent input.button::-moz-focus-inner,
.modalContent button.button::-moz-focus-inner  {
    border: 0 none !important;
    padding: 0;
    margin: 0;
}

html>/**/body input.button, x:-moz-any-link, x:default { /* FF 3 */
    padding: 2px 7px 2px 7px;
}

.modalContent .button:hover,
.modalContent .button:focus {
	text-decoration: none;
}
.modalContent .button:active {
	position: relative;
	top: 1px;
}

/*================================================================*/
/* Sizes */


/*================================================================*/
/* Standard */

.modalContent .standard {
    color: #000000 !important;
    background: #D9CCBC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#D9CCBC));
    background: -moz-linear-gradient(#FEFEFE, #D9CCBC);
    background: linear-gradient(#FEFEFE, #D9CCBC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#D9CCBC');
	border: solid 1px #9B8E7F;
}
.modalContent .standard:hover, 
.modalContent .standard:focus {
    color: #000000 !important;
    background: #A6998B;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F2F0), to(#A6998B));
    background: -moz-linear-gradient(#F4F2F0, #A6998B);
    background: linear-gradient(#F4F2F0, #A6998B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F2F0', endColorstr='#A6998B');
}
.modalContent .standard:active {
}

/*================================================================*/
/* Standard Disabled */

.modalContent .disabled {
    color: #CCCCCC !important;
    background: #D9CCBC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#D9CCBC));
    background: -moz-linear-gradient(#FEFEFE, #D9CCBC);
    background: linear-gradient(#FEFEFE, #D9CCBC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#D9CCBC');
	border: solid 1px #9B8E7F;
	cursor: default;
}
.modalContent .disabled:hover, 
.modalContent .disabled:focus {
    color: #CCCCCC !important;
}

.modalContent .disabled:active {
    top: 0px;
}

/*================================================================*/
/* Copied from Visural Wicket */

#visuraloverlay,.visuraloverlay,#visuraloverlay_high,.visuraloverlay_high{filter:Alpha(Opacity=40);-moz-opacity:.4;opacity:.4;background-color:#444;display:none;position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;z-index:5000;}#visuraloverlay_high,.visuraloverlay_high{z-index:6000;}#visuraloverlaycontent,#visuraloverlaycontent_high{display:none;z-index:5500;text-align:center;}.visuraloverlaycontent,.visuraloverlaycontent_high{display:none;z-index:5500;text-align:left;}#visuraloverlaycontent_high,.visuraloverlaycontent_high{z-index:6500;}#visuraloverlaycontent .modalborder,#visuraloverlaycontent_high .modalborder{padding:15px;width:300px;border:1px solid #444;background-color:white;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);-moz-box-shadow:0 0 10px rgba(0,0,0,0.8);box-shadow:0 0 10px rgba(0,0,0,0.8);filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color='gray');-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5,OffY=5,Color='gray')";}
