<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" lang="en" xml:lang="en">
<head>
<title>Current Taggings</title>
</head>
<body>
  <wicket:panel>
    <span wicket:id="tagging" class="tagItem">
      <a wicket:id="link"><span wicket:id="name">tag</span></a>
      <a wicket:id="remove" class="removeLink" href="#">[x]</a> 
    </span>
    <span wicket:id="moreTags" class="tagItem"></span>
    <span wicket:id="noTags" class="tagItem"></span>
  </wicket:panel>
</body>
</html>