/*================================================================*/
/* Data Table Response (Editable Table) */

.dataTableResponse {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BDBDBD;
    border-collapse: collapse;
    margin: 0 0 1em;
    width: 100%;
}

.dataTableResponse td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}

.dataTableResponse td.boolean {
	text-align: center;
}

.dataTableResponse th.boolean {
	text-align: center;
}
.dataTableResponse thead {
    display: none;
}
.dataTableResponse th {
    display: none;
}
.dataTableResponse td {
    border: 1px solid #BDBDBD;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    height: 1.75em;
    min-width: 5em;
}
.dataTableResponse caption {
	display: none;
}

/*================================================================*/
/* Editable Table Controls */

.dataTableEdit {
    position: relative;
    padding: 1.9em 2.5em;
    margin: 0px 0px 1em 0px;
}

.dataTableEdit table {
    margin-bottom: 0;
}

.dataTableEdit .addColumn {
    position: absolute !important;
    top: 2.1em !important;
    right: 0;
}
.dataTableEdit .delColumn {
    position: absolute !important;
    top: 0 !important;
    right: 2.75em;
}
.dataTableEdit .addRow {
    position: absolute !important;
    top: auto !important;
    bottom: 0;
    left: 2.75em;
}
.dataTableEdit .delRow {
    position: absolute !important;
    top: auto !important;
    bottom: 2.1em;
    left: 0;
}

/*================================================================*/
/* Editable Table Headers */

.dataTableResponse .tableHeader, .dataTableResponse .tableHeader td {
    background: #D8D4C1;
    color: #333333;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}
