/*========================================*/
/* Audio Applet */

.audio_applet {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em !important;
    color: #000000;
    line-height: 1.2em;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    margin: 0px 0px 1em 0px;
}

.audio_applet_record { width: 200px; }
.audio_applet_play   { width: 150px; }

/*========================================*/
/* Status Message */

.audio_applet .status {
    background: #D7D7D7;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}
.audio_applet .status_recording { background: #A51324; color: #FFFFFF; }
.audio_applet .status_playback  { background: #005B2D; color: #FFFFFF; }

/*========================================*/
/* Indicator Segment (Loading/Slider) */

.audio_applet .indicator {
    position: relative;
    background: #FFFFFF;
    height: 32px;
    margin: 0px 10px;
}
.audio_applet .indicator_busy { background: url("busy.gif") center center no-repeat; }

.audio_applet .indicator_volume { background: url("levels_bg.gif") center center no-repeat; }
.audio_applet .indicator_volume .mask {
    position: absolute;
    top: 50%;
    left: 50%;
    /* - Mask sizing change width and margin-left (50% of width) according to volume level)
       - Max values below:
    width: 52px;
    margin-left: -26px;
    */
    min-width: 24px;
    max-width: 52px;
    width: 24px;
    margin-left: -12px;
    height: 25px;
    margin-top: -12.5px;
    background: url("levels.gif") center center no-repeat;
}

.audio_applet .indicator_slider { background: url("slider_bg.gif") center center repeat-x; }
.audio_applet .indicator_slider .mask {
        position: relative;
        top: 11px;
        width: 18px;
        height: 11px;
        background: url("slider_caret.gif") center center no-repeat;
}
* html .audio_applet .indicator_slider .mask { top: 7px; }

.audio_applet .indicator_progress {
    /* background: url("../img/slider_bg.gif") center center repeat-x; */
    background: #CCCCCC;
    height: 14px;
    border: 1px solid #666666;
    margin: 8px 10px;

}
.audio_applet .indicator_progress .mask {
    background: #666666;
    height: 14px;
    width: 0px;
}

/*========================================*/
/* Action Buttons */

.audio_applet .actions {
    display: inline-block;
	width: 100%;
    background: #DCDCDC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FBFBFB), to(#D9CCBC));
    background: -moz-linear-gradient(#FBFBFB, #BFBFBF);
    background: linear-gradient(#FBFBFB, #BFBFBF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#BFBFBF');
    border-top: 1px solid #BDBDBD;
}

.audio_applet .actions a {
    float: left;
    display: inline-block;
    width: 49px;
    font-size: 0.6em;
    text-align: center;
    color: #000000 !important;
    text-decoration: none !important;
    border-left: 1px solid #BDBDBD;
}
* html .audio_applet .actions a { width: 48px; }
.audio_applet .actions a:first-child, .audio_applet .actions a.first { width: 50px;  border-left: 0px; }
.audio_applet .actions .off { color: #777777 !important; cursor: default !important; }

/*
.audio_applet .actions a:hover, .audio_applet .actions a:focus {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C0C0C0), to(#BFBFBF));
    background: -moz-linear-gradient(#C0C0C0, #BFBFBF);
    background: linear-gradient(#C0C0C0, #BFBFBF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#BFBFBF');
}
*/

.audio_applet .actions .on {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#BEBEBE), to(#FCFCFC));
    background: -moz-linear-gradient(#BEBEBE, #FCFCFC);
    background: linear-gradient(#BEBEBE, #FCFCFC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEBEBE', endColorstr='#FCFCFC');
}

.audio_applet .actions a span {
    display: inline-block;
    padding: 15px 0px 0px 0px;
    background: transparent url("1x1.gif") center 4px no-repeat;
}

.audio_applet .actions .record span     { background-image: url('record.gif'); }
.audio_applet .actions .record.off span { background-image: url('record_g.gif'); }

.audio_applet .actions .play span       { background-image: url("play.gif"); }
.audio_applet .actions .play.off span   { background-image: url("play_g.gif"); }

.audio_applet .actions .pause span      { background-image: url("pause.gif"); }
.audio_applet .actions .pause.off span  { background-image: url("pause_g.gif"); }

.audio_applet .actions .stop span       { background-image: url("stop.gif"); }
.audio_applet .actions .stop.off span   { background-image: url("stop_g.gif"); }


/* Tiny version of audio player */

.audio_applet.tiny {
	width: 45px;
}

.audio_applet.tiny .indicator {
    position: relative;
    background: #FFFFFF;
    height: 6px;
    margin: 0px;
}

.audio_applet.tiny .indicator_slider .mask {
        position: relative;
        top: 0px;
        width: 18px;
        height: 6px;
        background: url("slider_caret.gif") center center no-repeat;
}

.audio_applet.tiny .actions a {
    float: left;
    display: inline-block;
    width: 20px;
    font-size: 0.3em;

