<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/">
	<wicket:head>
	<script type="text/javascript">
	/* This is a fix for the conflict between ModalWindow and Java Applets in Mac Firefox */
	/* <![CDATA[ */
	
	Wicket.Window.Mask.prototype.disableFocusElement = function (element, revertList) { 
		if (typeof(Wicket.Window.current) != "undefined" &&
 			Wicket.Window.current != null &&
			Wicket.Window.current.window != element &&
			typeof element != 'function') { // This is the important line

			revertList.push([element, element.onfocus]);
			element.onfocus = function() { element.blur(); }

			for (var i = 0; i < element.childNodes.length; ++i) {
				this.disableFocusElement(element.childNodes[i], revertList);
 			}
 		}
 	}

	/* ]]> */
	</script>
	</wicket:head>

  <wicket:panel>
   	<span wicket:id="message"></span><br />
    <a href="#" wicket:id="button1"><img wicket:id="button1Image" alt="Button 1"/></a>
    <a href="#" wicket:id="button2"><img wicket:id="button2Image" alt="Button 2"/></a>
  </wicket:panel>
</html>